.App {
  padding: 25px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(167, 167, 167);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-divBtnImg{
  /*border: 1px solid black;*/
  width: 100%;
  height: 100px;
  margin-top: 1%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #cecece3f;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}
  .app-imgBtn {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  .app-imgBtn:active {
    transform: translateY(4px);
    border-bottom: 5px solid black;
}

.app-divLinksMidias{
  /*border: 1px solid black;*/
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 1%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.app-divImgLoading {
  display: flex;
  margin-top: 2%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}