*.xml
*.iml
*.sqlite3
*.pyc
*.mp3
*.mp4

/React/youtube/node_modules
Django/coreYoutube/migrations/__init__.py
Django/log_events_app_yt.log
/Django/media/miniaturas
*.m4a
*.sqlite3-journal
*.sqlite3_old
