.App {
  padding: 25px;
  text-align: center;
}

.app-divBtnImg{
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  margin-top: 1%;

  display: flex;
  gap: 15px;
  padding: 15px;

  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);  
}  
  .app-imgBtn {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .app-imgBtn:active {
    transform: translateY(4px);
    border-bottom: 5px solid rgb(128, 128, 128);
    
}

.app-divBtnConfConta{  
  /* border: 1px solid rgb(0, 0, 0);  */
  display: flex;
  text-align: right;
  justify-content: right;
  flex: 1; /* Ocupa todo espaço disponível. Precisa esta dentro da div*/

  box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.151);
}

.app-btnConfigurarConta{
  /* border: 1px solid rgb(0, 0, 0); */
  display: flex;
  box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.151);
}
.app-btnDeslogar{
  /* border: 1px solid rgb(0, 0, 0); */
  
  display: flex;
  box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.151);
}

.app-divLinksMidias{
  /*border: 1px solid black;*/
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 1%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.app-divImgLoading {
  display: flex;
  margin-top: 2%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

h3{
  color: #ffffff;
}