.App {
  /* border: 1px solid rgb(255, 4, 4); */

  padding: 25px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.13); 
}

.app-divBtnImg{
  /* border: 1px solid rgb(255, 4, 4); */

  width: 100%;
  height: 100px;
  margin-top: 1%;

  display: flex;
  gap: 15px;
  padding: 15px;

  align-items: center;
  justify-content: space-between;

  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.13);  
}  
  .app-imgBtn {
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .app-imgBtn:active {    
    transform: translateY(4px);
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.13);  
  }

/* h3 para titulos no elemento */
h3 {
  color: #ffffff;
  width: 30%;
  
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  
  padding-bottom: 5px;
  border-radius: 10px;
  
  font: 18pt Arial, Helvetica, sans-serif;
  
  border-bottom: 1px solid #ffffff80;
  box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.13);  
}

/* DIV do botão de deslogar DA PÁGINA PRINCIPAL */
.app-divBtnDeslogar{  
  /* border: 1px solid rgb(255, 0, 0); */

  display: flex;
  justify-content: right;
  flex: 1; /* Ocupa todo espaço disponível. Precisa esta dentro da div*/

  gap: 5px;
  
}
  /* Paragrafo contendo nome do usuário */
  .app-userLogado{
    /* border: 1px solid rgb(0, 0, 0);  */

    font-size: 16pt;
    text-align: center;
    
    display: flex;
    align-items: center;
    gap: 15px;
    
    padding: 5px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.212);
  }

.app-btnConfigurarConta{
  /* border: 1px solid rgb(0, 0, 0); */

  display: flex;
  box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.13);

}
.app-btnDeslogar{
  /* border: 1px solid rgb(0, 0, 0); */
  
  display: flex;
  box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.13);
}

.app-divLinksMidias{
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 1%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13);
}

.app-divImgLoading {
  display: flex;
  margin-top: 2%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}