
.returnFormsLink {
    margin: auto;
    width: 50%;
    background-color: #cecece;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.151);

}
.divBtnImgAdd {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: right;
}

.divLabelInput {
  display: grid;
}

.inputText {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 10px;
  border: none;
  padding: 15px;
  box-shadow: #00000062;
  border-radius: 15px;
}