
* {
  box-sizing: border-box;
}
.returnFormsLink {
  border: 1px solid black;
  margin: auto;
  margin-top: 2%;
  width: 100%;
  height: 205px;
  padding: 15px;
  border-radius: 14px;
  background-color: #000000;
  box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.151);
}

.inputText {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 10px;
  border: none;
  padding: 15px;
  border-radius: 14px;
  line-height: 35px;
}

.imgBtn{  
  width: 80px;
  height: 80px;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  margin-left: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
.divBtnImgAdd {
  border: 1px solid rgb(245, 0, 0);
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: flex;
  width: 50%;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
}
.divImgLoading{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 10px;
}
.imgLoading{
  width: 55px;
  height: 55px;
  margin: auto;
}

.mensagemAlerta{ 
  font-size: 16pt;
}