
.btnLinksConteiner {
  padding: 20px;
}
  .imgBtn {
    width: 60px;
    height: 60px;
    margin: 10px;
  }

.linksYoutube{  
  display: grid;  /* Estilo de grade */
  grid-template-rows: repeat(2, 1fr); /* 4 linhas de altura igual */
  max-height: 405px; /* altura máxima */
  gap: 15px;  /* espaçamento entre os itens */
  padding: 10px;  /* preenchimento interno  */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.divLinkYoutube{
  display: inline-block;
}
.content {
  display: grid;
}