
/* Div principal para todos os blocos de login e cadastros.*/
.login-divPrincipal{
  /* border: 1px solid black; */
  margin-top: 1%;
  padding: 20px;
  border-radius: 10px;
  background-color: #cecece3f;  
}


.login-lblCadastro {
  /* border: 1px solid black; */
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;  
  width: 50%;
  height: 100%;
  color: #fff;  
  border-radius: 10px;
  background-color: #ffffff3f;
}
.login-inputCadastro{
  /* border: 1px solid black; */
  width: 75%;
  height: 50px;
  padding: 10px;
  margin: auto;
  margin-right: 0px;
  border: none;
  font-size: 18pt;  
  display: flex;
  text-align: left;
  justify-content: right;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);

}

/*DIV dos inputs*/
.login-divInputs{
  /* border: 1px solid black; */

  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  padding: 20px;
  gap: 50px;
  border-radius: 10px;
  background-color: #cecece3a;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

.login-divGridInputs{
  display: grid;
  margin-top: 2%;
}

.login-inputEntrar {
  /* border: 1px solid black; */
  width: 75%;
  height: 50px;
  padding: 5px;
  margin: auto;
  border: none;
  font-size: 18pt;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

.login-lblLoginPrincipal {
  /* border: 1px solid black; */
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;  
  width: 50%;
  height: 100%;
  color: #fff;  
  border-radius: 10px;
  background-color: #ffffff3f;
}

.login-divCriarLogin{
  /* border: 1px solid black; */
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Div onde fica o formulário */
.login-divLogin{
  /* border: 1px solid black; */
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;  
}

.login-btnCadastrar {
  /* border: 1px solid black; */
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
} 
  .login-btnCadastrar:active {
    transform: translateY(4px);
    border-bottom: #000000;
}

.login-divBtnsNovoUsuario {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 1%;
  width: 50% ;
  display: flex;
  align-items: center;
  justify-content: right;  
  border-radius: 10px;
  background-color: #ffffff3f;
}

.login-divBtnLoginPrincipal {
  /* border: 1px solid black; */
  width: 50%;
  margin: auto;
  margin-top: 1%;
  gap: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  border-radius: 10px;
  background-color: #ffffff3f; 
}

/* Configuração dos botões do login principal */
.login-btnLogar {
  /* border: 1px solid black; */  
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
} 
  .login-btnLogar:active {
    transform: translateY(4px);
    border-bottom: #000000;
}