.login-btnNewUser {
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
} 
  .login-btnNewUser:active {
    transform: translateY(4px);
}

.input{
    border: 1px solid black;
    width: 100%;
}

.login-divInputs{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 50px;
}
.login-input {
    width: 100%;
    height: 25px;
}
