.login-btnNewUser {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
} 
  .login-btnNewUser:active {
    transform: translateY(4px);
}

.input{
    border: 1px solid black;
    width: 100%;
}

/*DIV PRINCIPAL*/
.login-divInputs{
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  height: 500px;
  gap: 50px;
  padding: 15px;
  
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.login-input {
  box-sizing: border-box;
  width: 99%;
  height: 50px;
  padding: 5px;
  font-size: 18pt;
  text-align: center;

  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.login-divCriarLogin{
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
.login-divLogin{
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}