
.login-btnCadastrar {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
} 
  .login-btnCadastrar:active {
    transform: translateY(4px);
}

.login-divBtnsNovoUsuario {
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 1%;
  width: 75% ;
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #cecece3f;     
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

.login-divPrincipal{
  /* border: 1px solid black; */
  margin-top: 1%;
  padding: 20px;
  border-radius: 10px;
  background-color: #cecece3f;  
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

/*DIV PRINCIPAL*/
.login-divInputs{
  /* border: 1px solid black; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 50px;

  border-radius: 10px;
  background-color: #cecece3a;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

.login-divGridInputs{
  display: grid;
  margin-top: 2%;
}

.login-input {
  /* box-sizing: border-box; */
  width: 75%;
  height: 50px;
  padding: 5px;
  margin: auto;
  border: none;
  font-size: 18pt;
  text-align: center;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}

.login-divCriarLogin{
  /* border: 1px solid black; */
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}
.login-divLogin{
  /* border: 1px solid black; */
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.151);
}