.player-midia-imgBtn {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
} 
  .linkBancoDados-imgBtn:active {
    transform: translateY(4px);
}