.player-midia-imgBtn {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
} 
  .linkBancoDados-imgBtn:active {
    transform: translateY(4px);
}

.playerMidias {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
}

