* {
  box-sizing: border-box;
}

.playerMidiasMp4-imgBtn {
  width: 60px;
  height: 60px;  
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
} 

.playerMidiasMp4-content {
   /*border: 1px solid black;*/
  display: grid;  /* Estilo de grade */  
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */  
  justify-self: left;
  width: 100%;
  height: 550px;
  margin: auto;
  margin-right: 5px;
  gap: 15px;
  pointer-events: auto;
  grid-template-columns: repeat(4, 1fr); /* 4 linhas de altura igual */
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
}

.playerMidiasMp4-content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.playerMidiasMp4-content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

.playerMidiasMp4-playMidias {
  /*border: 1px solid black;*/
  display: grid;    
  justify-content: center; /* Centraliza o conteúdo ao meio da DIV Y*/
  align-items: center; /* Centraliza o conteúdo ao meio da DIV X*/
  width: 100%;
  height: 500px;

  margin-left: auto;
  margin-right: auto; 
  margin-top: 5%;
  margin-bottom: 5%;

  padding: 10px;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}


.playerMidiasMp4-div_paragraphTitulos{
  border: 1px solid rgb(255, 0, 0);
  width: 100%;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
  .playerMidiasMp4-paragraphs {
    text-align: left;
  }

.playerMidiasMp4-divImgMiniatura {
  border: 1px solid rgb(255, 2, 2);
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
  .playerMidiasMp4-imgMiniatura{
    /* border: 1px solid rgb(255, 2, 2); */
    width: 75%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    }

.playerMidiasMp4-divBtnsAcao {
  /* border: 1px solid rgb(255, 2, 2); */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.playerMidiasMp4-imgBtn {
  /* border: 1px solid rgb(255, 2, 2); */
  padding: 5px;
  display: flex;  
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}  
.playerMidiasMp4-imgBtn:active {
    transform: translateY(4px);
    border-bottom: #000000;
}

.playerMidiasMp4-divImgLoading{
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 15px;  
  border-radius: 10px;  
} 
 .playerMidiasMp4-imgLoading{
    border-radius: 10px;
    justify-content: center;
    align-items: center;

  }
