* {
  box-sizing: border-box;
}

.playerMidiasMp3-imgBtn {
  width: 60px;
  height: 60px;  
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
} 

.playerMidiasMp3-content {
   /*border: 1px solid black;*/
  display: grid;  /* Estilo de grade */  
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */  
  justify-self: left;
  width: 100%;
  height: 550px;
  margin: auto;
  margin-right: 5px;
  gap: 15px;
  pointer-events: auto;
  grid-template-columns: repeat(4, 1fr); /* 4 linhas de altura igual */
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
}

.playerMidiasMp3-content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.playerMidiasMp3-content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

.playerMidiasMp3-playMidias {
  /*border: 1px solid black;*/
  display: grid;    
  justify-content: center; /* Centraliza o conteúdo ao meio da DIV Y*/
  align-items: center; /* Centraliza o conteúdo ao meio da DIV X*/
  width: 100%;
  height: 500px;

  margin-left: auto;
  margin-right: auto; 
  margin-top: 5%;
  margin-bottom: 5%;

  padding: 10px;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}


.playerMidiasMp3-div_paragraphTitulos{
  /*border: 1px solid black;*/
  width: 100%;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
  .playerMidiasMp3-paragraphs {
    text-align: left;
  }

.playerMidiasMp3-divImgMiniatura {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
  .playerMidiasMp3-imgMiniatura{
      width: 75%;
      display: flex;
      margin: auto;
      border-radius: 10px;
      box-shadow: 1px 1px 1px black;
    }

.playerMidiasMp3-btnsAcao {
  box-sizing: border-box;
  display: flex;  
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}  

.playerMidiasMp3-divImgLoading{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 15px;  
  border-radius: 10px;  
} 
 .playerMidiasMp3-imgLoading{
    border-radius: 10px;
    justify-content: center;
    align-items: center;

  }
