.imgBtn {
  margin: auto;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
} 

.content {
 /*border: 1px solid black;*/
  display: grid;  /* Estilo de grade */  
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */  
  margin: auto;
  width: 100%;
  max-width: 80%; 
  height: 625px;
  max-height: 5%; /* altura máxima */  
  pointer-events: auto;
  grid-template-columns: repeat(4, 1fr); /* 4 linhas de altura igual */
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

.linksYoutube {
  /*border: 1px solid black;*/
  display: grid;    
  justify-content: center; /* Centraliza o conteúdo ao meio da DIV Y*/
  align-items: center; /* Centraliza o conteúdo ao meio da DIV X*/
  max-width: 80%;
  width: 100%;
  height: 80%;

  margin-left: auto;
  margin-right: auto; 
  margin-top: 70px;
  
  padding: 10px;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}


.paragraphTitulos{
  width: 100%;
  height: 125px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}

.divImgMiniatura {
  margin: auto;
  border-radius: 10px;
  border: 1px solid black;
}
  .imgMiniatura{
      width: 350px;
      height: 250px;
      display: flex;
      margin: auto;
      border-radius: 10px;
      box-shadow: 1px 1px 1px black;
    }

.btnsAcao {
  display: flex;  
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}  

.divImgLoading{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 15px;  
  border-radius: 10px;  
} 
 .imgLoading{
    border-radius: 10px;
    justify-content: center;
    align-items: center;

  }
