* {
  box-sizing: border-box;
  color: #000;
}

.playerMidiasMp3-content {
   /*border: 1px solid black;*/
  display: grid;  /* Estilo de grade */  
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */  
  justify-self: left;
  width: 100%;
  height: 550px;
  margin: auto;
  margin-right: 5px;
  gap: 15px;
  pointer-events: auto;
  grid-template-columns: repeat(4, 1fr); /* 4 linhas de altura igual */
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);  
}

.playerMidiasMp3-content::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}

.playerMidiasMp3-content::-webkit-scrollbar-thumb {
    background: darkgrey; /* Cor da parte que pode ser arrastada */
}

.playerMidiasMp3-playMidias {
  /*border: 1px solid black;*/
  display: grid;    
  justify-content: center; /* Centraliza o conteúdo ao meio da DIV Y*/
  align-items: center; /* Centraliza o conteúdo ao meio da DIV X*/
  width: 100%;
  height: 500px;

  margin-left: auto;
  margin-right: auto; 
  margin-top: 5%;
  margin-bottom: 5%;

  padding: 10px;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}


.playerMidiasMp3-div_paragraphTitulos{
  /*border: 1px solid black;*/
  width: 100%;
  height: 125px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}
  .playerMidiasMp3-paragraphs {
    text-align: left;    
  }

.playerMidiasMp3-divImgMiniatura {
  border: 1px solid rgb(247, 0, 0);
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
  .playerMidiasMp3-imgMiniatura{
    /* border: 1px solid rgb(255, 0, 0); */
      width: 100 %;      
      margin: auto;
      border-radius: 10px;
      box-shadow: 1px 1px 1px black;
    }

.playerMidiasMp3-divBtnsAcao {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
}  

.playerMidiasMp3-imgBtn {
  /* border: 1px solid black; */
  width: 60px;
  height: 60px;  
  padding: 5px; 
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.151);
} 

.view_mp3-divImgLoading{
  /* border: 1px solid black; */
  width: 60px;
  height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 10px;  
} 

.playerMidiasMp3-imgSpinner {
  border: none;
}
